* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  background-color: var(--white-color);
}

img {
  display: block;
  max-width: var(--width-max);
  height: auto;
}
.container {
  //max-width:480px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: var(--width-max);
  margin: 0 auto;
  &__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--letterspacing);
    color: var(--primary-color);
    font-weight: var(--fontweight-bold);
  }
  &--link {
    text-decoration: none;
  }
  &--unstyled-list {
    list-style-type: none;
  }
}
