/*modal*/

.modal {
  @include flex_rule;
  @include centerFlex;
  width: var(--width-max);
  height: var(--height-max);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  @include transition(opacity, transform);
  max-height: 1024px;
  &__is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.1);
  }
  &__inner {
    border-radius: var(--border-radius4);
    @include transition(opacity, transform);
    position: relative;
    margin: auto;
    width: 450px;
    height: 609px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__close {
    @include flex_rule;
    @include centerFlex;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    color: currentColor;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    &__icon {
      fill: currentColor;
    }
    &:hover,
    &:focus {
      color: var(--blue-color);
      @include transition(color);
    }
  }
}
@media (min-width: 1200px) {
  .modal {
    &__inner {
      width: 528px;
      height: 581px;
    }
  }
}
