/*placeholders helpers*/

%logo_title {
  font-family: var(--secondary-font);
  font-weight: var(--fontweight-bold);
  line-height: 1.19;
  letter-spacing: var(--letterspacing);
  color: var(--blue-color);
}

%contact_icon {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  fill: var(--secondary-color);
}

%bgGray {
  background-color: var(--gray-color1);
}
%main_list {
  @include flex_rule;
  gap: var(--gap-primary);
  padding-bottom: var(--padding-general);
  padding-top: 50px;
}

%teamSocialList {
  @include flex_rule;
  @include centerFlex;
  padding-top: 16px;
}
%teamSocialLink {
  @include flex_rule;
  @include centerFlex;
  width: 44px;
  height: 44px;
  fill: var(--lightgray-color);
}
%teamSocialIcon {
  width: 20px;
  height: 20px;
}
%focusForm {
  @include transition(border);
  border: 1px solid var(--blue-color);
  cursor: pointer;
}
%inputForm {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius4);
  margin-top: 4px;
  width: var(--width-max);
}
%flexForm {
  display: inline-flex;
  @include centerFlex;
}
%mobileFont {
  font-style: normal;
  font-weight: var(--fontweight-second);
}
%mobileLink {
  color: var(--blue-color);
  cursor: pointer;
}
%maxWidth {
  width: var(--width-max);
}
